<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag(@contestant.image) %>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <h1><%= @contestant.name %></h1>
    <% if @contestant.age != nil %><p>Age: <%= @contestant.age %></p><% end %>
    <% if @contestant.occupation != "" %><p>Occupation: <%= @contestant.occupation %></p><% end %>
    <p><%= @contestant.bio %></p>
  </div>
</div>