<div class="row">
	<div class="jumbotron col-md-6 col-md-offset-3">
		<h1>Log In</h1>
		<%= form_for(:session, url: login_path) do |f| %>
		<div class="form-group">
			<%= f.label :email %>
			<%= f.email_field :email, class: :"form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :password %>
			<%= f.password_field :password, class: :"form-control" %><br />
		</div>

			<%= f.submit "Log In", class: :"btn" %>
		<% end %>
		<div>
			<%= link_to "Want to join the club? Sign up here", signup_path %>
		</div>
	</div>
</div>