<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Groups</h1>
  <input type="text" class="form-control" placeholder="Search doesn't work yet...">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID #</th>
          <th>Title</th>
          <th>Show</th>
          <th>See Group</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.id %></td>
            <td><%= group.title %></td>
            <td><%= group.show.title %></td>
            <td><%= link_to "See Group", group %></td>
            <td><%= link_to "Delete Group", group, method: :delete, data: { confirm: "You sure?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @groups %>
  </div>
</div>
