<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Dashboard</h1>

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <h1><%= @users.count %></h1>
      <h4>Users</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h1><%= @groups.count %></h1>
      <h4>Groups</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h1><%= @shows.count %></h1>
      <h4>Shows</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h1><%= @users.count %></h1>
      <h4>Users</h4>
      <span class="text-muted">Something else</span>
    </div>
  </div>

  <h2 class="sub-header">Users</h2>
  <input type="text" class="form-control" placeholder="Search doesn't work yet...">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID #</th>
          <th>Name</th>
          <th>Email</th>
          <th>See Profile</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "See Profile", user %></td>
            <td><%= link_to "Delete User", user, method: :delete, data: { confirm: "You sure?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users %>
  </div>
</div>
    