<!DOCTYPE html>
<html>
<head>
  <title>POPPLR</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%= favicon_link_tag 'admin-favicon.ico' %>

<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

<script src="https://use.fontawesome.com/adddc85b49.js"></script>

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin">Popplr - An Admin System for Popply</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
            <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
            <li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/admin">Overview</a></li>
            <li class="active"><a href="#">Shows<span class="sr-only">(current)</span></a></li>
            <li><a href="/admin/groups">Groups</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Shows <%= link_to "New Show", new_shows_path, class: "btn btn-success" %></h1>
          <input type="text" class="form-control" placeholder="Search doesn't work yet...">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID #</th>
                  <th>Title</th>
                  <th>Start Date</th>
                  <th>Config</th>
                  <th>Key</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <% @shows.each do |show| %>
                  <tr>
                    <td><%= show.id %></td>
                    <td><%= show.title %></td>
                    <td><%= show.start %></td>
                    <td><%= link_to "Config", "#" %></td>
                    <td><%= link_to "See Key", "shows/#{show.id}/key" %></td>
                    <td><%= link_to "Delete Show", "shows/#{show.id}", method: "delete", data: { confirm: "You sure?" } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= will_paginate @shows %>
          </div>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>