<div class="row">
	<div class="col-xs-12 col-sm-3 players-box">
		<h3 class="text-center">Players</h3>
		<%= render 'groupmembers' %>
	</div>
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-12 col-sm-9">
		<h1><%= @group.title %></h1><small>You're Watching: <%= @group.show.title %></small>
		<% unless @group.members.include? current_user %>
			<%= button_to "Join Group", @group, method: :patch %>
		<% end %>
		<ul class="nav nav-tabs group-tabs">
		  <li role="presentation" class="<%= 'active' if params[:action] == 'rankings' %>" id="rankings"><%= link_to "Rankings", group_rankings_path(@group) %></li>
		  <% if @group.members.include? current_user %>
		  	<li role="presentation" class="<%= 'active' if params[:action] == 'picks' %>" id="picks"><%= link_to "My Picks", group_picks_path(@group) %></li>
		  	<li role="presentation" class="<%= 'active' if params[:action] == 'chat' %>" id="chat"><%= link_to "Chat", '#' %></li>
		  	<li role="presentation" class="<%= 'active' if params[:action] == 'posts' %>" id="posts"><%= link_to "Posts", group_posts_path(@group) %></li>
		  	<li role="presentation" class="<%= 'active' if params[:action] == 'contestants' %>" id="contestants"><%= link_to "Contestants", group_contestants_path(@group) %></li>
		  <% end %>
		</ul>
		<div class="group-details col-md-12">
			<%= yield %>
		</div>
	</div>
</div>