<%= render layout: 'tabs' do %>
	<ul class="list-group">
		<% @members.each_with_index do |member, num| %>
			<li class="list-group-item">
        <span class="badge"><%= member.score %> Points</span>
				<%= num + 1 %>. <%= User.find(member.user_id).first_name %> <% if member.made_all_picks? %>- Picks are in! Top 4: <%= member.top_four.map { |pick| pick.contestant.name } %><% end %>
			</li>
		<% end %>
	</ol>
<% end %>