<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag(@user.image_link) %>
      <div class="caption">
        <h3><%= @user.first_name%> <%= @user.last_name %></h3>
        <% if session[:user_id] == @user.id %>
        <p>
          <%= link_to "Edit Profile", edit_user_path, class: :"btn btn-default", role: :"button" %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <% if session[:user_id] == @user.id %>
      <%= link_to "New Post", new_post_path, class: :"btn btn-success btn-block", role: :"button", remote: :true, id: :"new-button" %>
      <div id="new-post">
        <!-- This is where the post input will appear -->
      </div>
    <% end %>
    <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>