<% @posts.each do |post| %>
	<div class="panel panel-default post">
		<div class="panel-heading"><h3><%= post.title %></h3><small><%= User.find(post.user_id).first_name %> posted - <%= time_ago_in_words(post.created_at) %> ago.</small></div>
		<div class="panel-body">
			<p><%= post.content.html_safe %></p>
		</div>
		<% if post.comments.any? %>
			<%= render 'comments/post_comments', post: post %>
		<% end %>
	</div>
	<%= render 'comments/new', post: post %>
<% end %>	
